<ion-header-bar class="bar-dark" align-title="left">
                <h1 class="title">Ionic Blank Starter</h1>
              </ion-header-bar>
            <ion-content>Tsup
            <div ng-repeat="test in data">
                    {{test}}
                    Poks
                </div>
            </ion-content>