<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script> 
    </head>
    <body ng-app="starter">
        <ion-nav-bar class="bar-positive" align-title="center">
            <ion-nav-back-button class="button-clear">
                <i class="ion-arrow-left-c"></i>
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view>
        </ion-nav-view>

  </body>
</html>

<script id="main.html" type="text/ng-template">
    <ion-view title="Ionic Stock App">
        <ion-nav-buttons side="right">
            <button class="button icon ion-search" ui-sref="search"></button>
        </ion-nav-buttons>
        <ion-content>                                              
            <div class="list card">
                <div class="item item-divider">
                    My Stocks
                </div>
                <a href="#" class="item" ng-repeat="d in stockData" ui-sref="detail({ symbol : d.symbol, following: true})">
                    <div class="row">
                        <div class="col col-75 col-center"><h2>{{ d.Name | uppercase }}</h2></div>
                        <div class="col" style="text-align: right;">
                            <div class="row">
                                <div class="col col-top">                                    
                                    {{ d.symbol | uppercase }}
                                </div>
                            </div>
                            <div class="row small">
                                <div class="col col-bottom">
                                    {{ d.LastTradePriceOnly}}                                    
                                </div>                                
                            </div>                      
                      </div>
                    </div>                    
                </a>               
            </div>                                  
        </ion-content>
    </ion-view>
</script>

<script id="detail.html" type="text/ng-template">
    <ion-view title={{data.Name}}>        
        <ion-content>                       
            <div class="card">
              <div class="item item-divider">
                <h1>{{data.LastTradePriceOnly}} {{data.ChangeinPercent}}</h1>
              </div>
              <div class="item item-text-wrap">
                Price: {{data.LastTradePriceOnly}}<br>
                Market Cap: {{data.MarketCapitalization}}<br>
                P/E: {{data.PERatio}}<br>                
              </div>
              <div class="item item-divider" ng-hide="following">
                <button class="button button-full button-positive" ng-click="follow()">Follow</button>
              </div>
            </div>                        
        </ion-content>
    </ion-view>
</script>
<script id="search.html" type="text/ng-template">
    <ion-view title="Search stock symbol">        
        <ion-content>
            <div class="item item-input">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Search" ng-model="searchData.searchText" ng-change="search()">
                </label>                
            </div>
            <div class="row" ng-show="loading==true">
              <div class="col col-33 col-offset-33"><ion-spinner></ion-spinner></div>
            </div>
            
            <ion-list>
                <!--ion-item class="item" ng-repeat="sd in searchData.results" ui-sref="detail({ symbol : sd.symbol })">{{sd.Name}}</a-->
                <!--ion-item class="item" ng-repeat="sd in searchData.results" href="#/detail/{{sd.symbol}}">{{sd.Name}}</ion-item-->
                <ion-item class="item" ng-repeat="sd in searchData.results" ng-click="details(sd)">{{sd.Name}}</ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
</script>
